<dst-tree-select
    [items]="data"
    [(ngModel)]="selectedUsers"
    [titleCase] = "true"
    [bindLabel] = "'Name'"
    [bindValue] = "'Id'"
    [includeEntireObject] = "true"
    [groupBy] = "'Teams'"
    [noDataFoundText] = "'No Teams Found'"
    [placeHolder] = "'Select Teams'"
    [closeOnSelect] = "false"
    [clearable] = "true"
    [clearAllText] = "'Remove All'"
    [dropdownOpen] = "true"
    [readonly] = "false"
    [multiple] = "true"
    [dropdownPosition] = "'auto'"
    [searchable] = "true"
    [expandable] = "true"
    (open)="func('open',$event)"
    (close)="func('close',$event)"
    (change)="func('change',$event)"
    (select)="func('select',$event)"
    (clear)="func('clear',$event)"
    (clearAll)="func('clearAll',$event)"
    (search)="func('search',$event)"
    (scroll)="func('scroll',$event)"
    >
</dst-tree-select>